*{
    margin: 0;
    padding: 0;
}
a{
    display: flex;
    text-decoration: none;
}
html, body{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*FONTS*/

@font-face {
    font-family: 'mak' ;
    src: url("font/MAK.otf");
}
@font-face {
    font-family: 'Playfair';
    src: url("font/PlayfairDisplay-VariableFont_wght.ttf");
}
@font-face {
    font-family: 'Raleway';
    src: url("font/Raleway-Regular.ttf");
}
@font-face {
    font-family: 'Kreadon';
    src: url(font/ofont.ru_Kreadon.ttf);
}


                     /*TITLE SCREEN*/


/*ALL TITLE*/
@media all {
/*LOGO UNDER HEADER*/
#logo{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8vmax;
    width: 100%;
}
#logoty{
    display: flex;
    width: 13vmax;
    height: 65vmin;
}
/*NAVIGATION*/
nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 5vmax;
    background-color: #39251B;
}
.navigation{
    display: flex;
    font-family: 'Playfair';
    color: #B68F6E;
    font-size:1.8vmax;
    text-decoration: none;
}
.navigation:hover, .navigation:active{
    display: flex;
    text-decoration:underline;
}
/*HEADER*/
#mainHeader{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100.1vmin;
    background-repeat: no-repeat; 
    background-position: center center; 
    background-clip: content-box;
    background-image: url('images/image21.png');
    background-size: cover;
}
#nothingLeft{
    display: flex;
    width: 7%;
}
#intoHeader{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width:33%;
    height:70%;
}
#intoHeader1{
    display: flex;
}
#logoty2{
    display: flex;
    width: 23vmax;
    height: auto;
}
#intoHeader2{
    display: flex;
    flex-direction: column;
}
#theatreHeader{
    display: flex;
    font-family: 'mak';
    font-size: 3.8vmax;
    color: #B68F6E;
    text-transform: uppercase;
}
#hrHeader{
    display: flex;
    width: 20vmax;
    height: 0.3vmin;
    background-color: #B68F6E;
    border:none;
}
#txtHeader{
    display: flex;
    color: #B68F6E;
    font-size: 3.8vmax;
    font-family:'Kreadon';
}
/*SOON*/
#soon{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    align-self: center;
    width: 90.1vmax;
    height: 217.2vmin;
}
#soonHeader{
    display: flex;
    align-items: center;
    flex-direction: column;
}
.headers{
    display: flex;
    font-family: 'Playfair';
    color: #39251B;
    font-size: 3.6vmax;
    line-height: 180%;
    text-transform: uppercase;
}
.headerHr{
    display: flex;
    width: 22vmax;
    height: 0.2vmin;
    box-shadow: 0 0.4vmin 0.7vmin 0 rgba(57, 37, 27, 0.4);
    border:none;
    background-color: #39251B;
}
.soonPerfomance{
    display: flex;
    position: relative;
    align-items: center;
    width: 90.1vmax;
}
.perfomance{
    display: flex;
    width: 52.2vmax;
}
.aboutPerf{
    display: flex;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    right: 0;
    background-color: white;
    box-shadow: 0 0.13vmin 0.4vmin 0.13vmax rgba(57, 37, 27, 0.4);
    width: 50%;
    height: 90%;
}
.titlePerf{
    display: flex;
    font-family: 'Playfair';
    font-size: 6.4vmin;
    color: #39251B;
}
.datePrice{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Raleway';
    font-size: 3.2vmin;
    width: 27.8vmax;
}
.aboutPerfTxt{
    display: flex;
    width: 37vmax;
    font-family: 'Raleway';
    text-align: center;
    color: #39251B;
    font-size: 3.2vmin;
}
.morePerfAbout{
    display: flex;
    align-items: center;
    justify-content: center;
    width:50%;
    height:10%;
    color: #39251B;
    border: 0.1vmax solid #39251B;
    font-family: 'Raleway';
    font-size: 3.2vmin;
    text-decoration: none;
}
.morePerfAbout:hover{
    background-color: rgba(57, 37, 27, 1);
    color: #B68F6E;
}
#moreBtn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    text-decoration: none;
    color:#39251B;
    height: 8vmin;
    width: 27vmax;
    font-family: 'Raleway';
    font-size: 1.8vmax;
    border-radius: 1vmin;
    border:0.1vmin solid #39251B;
}
#moreBtn:hover{
    background-color: rgba(57, 37, 27, 1);
    color: #B68F6E;
}
/* WE ARE*/
.weAre{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 91vmax;
    margin: 5% 0;
    height:100vmin;
}
#weAreImg{
    display: flex;
    height: 100%;
    width: 95%;
}
.weAreSlider{
    display: flex;
    flex-direction: column;
    height: 35%;
    justify-content: space-between;
}
.sliderCircle{
    display: flex;
    height: 4vmin;
    width: 2vmax;
    background-color: #D9D9D9;
    border-radius: 30vmax;
}
/*ASK N QUESTION*/
.AskNQuestion{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 150vmin;
    width: 90.1vmax;
}
.AnQTxt{
    display: flex;
    height: 13.2vmin;
    align-items: center;
    flex-direction: column;
}
.threeBlocks{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: 65%;
}
.AsknQuestBlk{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 32%;
    height: 100%;
    border-radius: 1vmin;
    box-shadow: 0.3vmax 0.5vmin 0.5vmin 0.07vmax rgba(57, 37, 27, 0.2);
}
.ask{
    display: flex;
    font-family: 'mak' ;
    text-transform: lowercase;
    width: auto;
    align-self: center;
    text-align: center;
    font-size: 3.2vmin;
    color: #39251B;
}
.askNothing{
    display: flex;
    height:8.5vmin;
}
.question{
    display: flex;
    font-family: 'Kreadon';
    font-size: 3.2vmin;
    color: #39251B;
    width: 25vmax;
}
#anotherAskQuest>.ask{
    width: auto;
    text-align: center;
}
/*MAP N HOUR*/
.mapNHours{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85vmax;
    height: 105vmin;
    margin-bottom:7%;
}
#beforeMap{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35vmax;
    height: 85vmin;
    justify-content: space-around;
}
.headhour{
    display: flex;
    flex-direction: column;
    align-self: center;
    width: auto;
    text-align: center;
    color: #39251B;
    font-size: 6.4vmin;
    font-family: 'Raleway';
}
.hours{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 80vmin;
    width:100%;
    font-size: 5vmin;
    font-family: 'Raleway';
    color: #39251B;
}
.hourDay{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #39251B;
    width: 90%;
    font-size: 6.4vmin;
    font-family: 'Raleway';
}
.weekDay, #wednesday{
    display: flex;
}
#weekEnd{
    width: 65%;
    align-self: center;
}
#wednesday{
    margin-left:-10% ;
}
.dayHour, #weekEnd{
    display: flex;
    flex-direction: column;
    align-items: center;
}
/*FOOTER*/
footer{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 42.8vmin;
    background-color: #39251B;
}
.intoFoo{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 90%;
}
#intoFooImg{
    display: flex;
    align-self:start;
}
.fooCol{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fooHead{
    display: flex;
    font-family: 'Raleway';
    font-weight: bold;
    font-size:3.2vmin;
    color: #B68F6E;
}
.fooAll{
    display: flex;
    font-family: 'Raleway';
    font-size:3.2vmin;
    color: #B68F6E;
    line-height: 6.6vmin;
}
.fooAllL{
    display: flex;
    font-family: 'Raleway';
    font-size: 2vmax;
    color: #B68F6E;
    margin-bottom: 2.7vmin;
}
}
/*PHONE TITLE*/
@media (max-width:600px) and (orientation:portrait) {


    /*LOGO*/


    body{
        width: 100vmin;
    }
    #logo{
        width: 91vmin;
        height: 8vmax;
    }
    #logoty{
        width: 18vmin;
        height: 7vmax;
    }
    

    /*NAVIGATION*/


    nav{
        width: 100vmin;
        height: 4vmax;
        font-size: 3vmax;
    }


    /*HEADER*/


    #mainHeader{
        width: 100vmin;
        height: 30vmax;
    }
    #intoHeader{
        height: 60%;
    }
    #intoHeader1{
        width: 70%;
        height: auto;
    }
    #intoHeader2>span{
        font-size: 3.8vmin;
    }
    #hrHeader{
        width: 60%;
        height: 0.2vmin;
    }


    /*SOON*/


    #soon{
        width: 100vmin;
        height: 57vmax;
        justify-content: space-evenly;
    }
    .headers{
        font-size: 3vmax;
    }
    .soonPerfomance{
        width: 91%;
    }
    .perfomance{
        width: 60%;
        height: auto;
    }
    
    .soonPerfomance{
        width: 91%;
    }
    .perfomance{
        width: 60%;
        height: auto;
    }
    .titlePerf{
        font-size: 2.8vmax;
    }
    .datePrice{
        font-size: 1.2vmax;
        width: 80%;
    }
    .aboutPerfTxt{
        font-size: 1.2vmax;
        width: 90%;
        justify-content: space-evenly;
    }
    .morePerfAbout{
        font-size: 1.2vmax;
    }
    #soonNothing{
        display: none;
    }
    #moreBtn{
        height: 4%;
        width: 45%;
        font-size:1.4vmax;
    }


    /*WE ARE*/


    .weAre{
        width: 91vmin;
        height: 19vmax;
    }
    /*
    #weAreImg{
        height: 100%;
        width: 95%;
    }
    */
    .sliderCircle{
        width: 2vmin;
        height:1vmax;
    }


    /*ASK N QUESTION*/


    .AskNQuestion{
        width: 91vmin;
        height: 55vmax;
        justify-content: space-evenly;
    }
    .AnQTxt{
        height: auto;
    }
    .threeBlocks{
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 80%;
    }
    .AsknQuestBlk, #anotherAskQuest{
        width: 100%;
        height: 30%;
    }
    .ask{
        font-size: 3.2vmin;
    }
    .askNothing{
        height:1.5vmax;
    }
    .question{
        font-size: 3vmin;
        width: 90%;
    }


    /*MAP N HOURS*/


    .mapNHours{
        width: 91vmin;
        height: 40vmax;
    }

    #beforeMap{
        width: 45%;
        height: 80%;
    }
    .headhour{
        font-size: 2.4vmax;
    }
    .hourDay{
        width: 90%;
    }
    .hours{
        width: 100%;
    }
    .hours>*{
        font-size: 2vmax;
    }


    /*FOOTER*/


    footer{
        width: 100vmin;
    }

    .fooAllL{
        font-size: 3.2vmin;
    }
    .intoFoo{
        width: 91vmin;
    }
}
/*TABLET PORTRAIT TITLE*/
@media (min-width:600px) and (max-width:1440px) and (orientation:portrait){
    /*HEADER*/
    #mainHeader{
        height: 45vmax;
        font-size: 2vmax;
    }
    #intoHeader2{
        width: 150%;
    }
    #txtHeader{
        font-size: 5vmin;
    }

    /*SOON*/
    #soon{
        height: 130vmin;
        width: 91vmin;
    }
    .soonPerfomance{
        width:100%;
        height: 35%;
    }
    .perfomance{
        height: 100%;
        width: auto;
    }
    .aboutPerf{
        width: 45%;
    }
    .titlePerf{
        font-size:5vmin;
    }
    .datePrice{
        font-size:2.4vmin;
        width: 90%;
    }
    .aboutPerfTxt{
        font-size: 2.4vmin;
        width: 90%;
    }
    .morePerfAbout{
        font-size: 2.4vmin;
    }
    #moreBtn{
        height: 5%;
        width: 40%;
        font-size: 2.4vmin;
    }


    footer{
        height: 30vmax;
    }

    /*WE ARE*/


    .weAre{
        width: 91.8vmin;
        height: 45vmin;
    }
    .sliderCircle{
        width: 15px;
        height: 15px;
    }

    .AskNQuestion{
        width: 91vmin;
        height: 55vmax;
        align-self: center;
    }
    .threeBlocks{
        justify-content: space-between;
        width: 100%;
        height: 60%;
    }
    .askNothing{
        display: none;
    }
    .ask{
        font-size: 2.6vmin;
    }
    .question{
        font-size: 2.4vmin;
        width: 90%;
    }


    /*MAP N HOURS*/


    .mapNHours{
        width: 85vmin;
        height: 60vmax;
    }
    #beforeMap{
        height: 80%;
        width: 43%;
    }
    .headhour{
        font-size: 5vmin;
    }
    .hourDay{
        font-size: 4vmin;
    }
    
    footer{
        height: 20vmax;
    }
}
/*TABLET LANDSCAPE TITLE*/
@media (min-width:768px) and (max-width:1440px) and (orientation:landscape) {
    .navigation{
        font-size: 3vmin;
    }
    #mainHeader{
        height: 82vmin;
    }
    #intoHeader{
        height: 60%;
    }

    #soon{
        height: 170vmin;
    }

    .weAre{
        height: 75vmin;
    }

    .sliderCircle{
        width: 25px;
        height: 25px;
    }

    .AskNQuestion{
        height: 80vmin;
    }

    .mapNHours{
        height: 100vmin;
    }
    #beforeMap{
        height: 80%;
    }
    .hours>*{
        font-size: 5vmin;
    }

    footer{
        height: 30vmin;
    }

}
/*BIG SCREEN TITLE*/
@media (min-width:1441px) {
    .AskNQuestion{
        height: 100vmin;
    }
}


                        /*AFISHA*/


/*ALL AFISHA*/
@media all{
    .searches{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        background-color: transparent;
        height: 30vmin;
        width: 90%;
    }
    .search{
        display: flex;
        flex-direction: row;
        background-color: transparent;
        justify-content: center;
        width: 80%;
    }
    #searchPool{
        display: flex;
        width: 80%;
        font-family:'Raleway';
        position: relative;
        color: #39251B;
        font-size: 2.4vmin;
        border-radius: 1vmin;
        border: 0.1vmin solid #39251B;
        height: 8vmin;
    }
    #searchSvg{
        display: flex;
        align-self: center;
        position: absolute;
        right: 25vmax;
    }
    #searchSend{
        display: flex;
        width:3.6vmax;
        height:7.2vmin;
        background-size: cover;
        border: none;
    }
    .searchButt1{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width:100%;
        height:6.4vmin;
    }
    .sortBy{
        display: flex;
        align-items: center;
        justify-content: center;
        width: auto;
        height: auto;
        text-transform: uppercase;
        border: 0.1vmin solid #39251B;
        color: #39251B;
        font-size: 3vmin;
        padding: 1% 3% 1% 3%;

    }
    .sortBy1{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17vmax;
        height: 6.4vmin;
        text-transform: uppercase;
        border: 0.1vmin solid #39251B;
        color: #39251B;
        font-size: 2vmax;
    }
    .sortBy:hover, .sortBy1:hover{
        background-color: #39251B;
        color: #B68F6E;
    }
    #perfomances{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 90%;
    }
    .soonPerfomanceinAfisha{
        position: relative;
        display: flex;
        align-items: center;
        padding: 3.2vmin 0 3.2vmin 0;

    }
    .ganre{
        font-family: 'Raleway';
        color:#39251B;
        font-size:3.2vmin;
    }
    .aboutPerfAfisha{
        position: absolute;
        right: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 45%;
        height: 80%;
        box-shadow: 0.3vmax 0.5vmin 0.5vmin 0.07vmax rgba(57, 37, 27, 0.2);
        background-color: white;
    }
    #afishaNothing{
        display: flex;
        height: 3.2vmin;
        width: 90%;
    }
}
/*PHONE AFISHA*/
@media (max-width:600px) and (orientation:portrait){
    .searches{
        height: 20vmin;
    }
    .search{
        height:30%;
    }
    #searchSvg{
        position: absolute;
        right: 23%;
    }
    #searchPool{
        height: 100%;
        position: relative;
    }
    .aboutPerfAfisha>*{
        font-size: 1.1vmax;
    }
    .titlePerf{
        font-size: 2vmax;
    }
    .searchButt1{
        height: auto;
    }
    .sortBy{
        font-size: 2.4vmin;
    }
    .fooCol>*{
        font-size: 1.4vmax;
    }
    footer{
        height: 15vmax;
    }
}
/*TABLET PORTRAIT AFISHA*/
@media (max-width:1024px) and (orientation:portrait){
    .navigation{
        font-size: 3vmin;
    }
    .searches{
        height: 15vmax;
    }
    .search{
        height: 30%;
    }
    #searchPool{
        height: 100%;
    }
    #searchSvg{
        position: absolute;
        right: 23%;
    }
    .searchButt1{
        height: 25%;
    }
    .sortBy{
        font-size: 2.6vmin;
        width: auto;
        height: auto;
    }
    .soonPerfomanceinAfisha{
        width: 100%;
        height: 40vmin;
        padding: 2% 0 2% 0;
    }
}
/*BIG SCREEN AFISHA*/
@media (min-width:1200px) and (orientation:landscape){
    .searchButt1{
        width: 80%;
    }
}


                        /*PERFOMANCE*/


/*PERFOMANCE ALL*/
@media all {
    .navigation{
        font-size: 4vmin;
    }
    #perfomanceHeader{
        display: flex;
        margin: 0;
        padding: 0;
        flex-direction: column;
        align-items: center;
        position: relative;
        justify-content: space-evenly;
        width: 91%;
        height: 101vmin;
    }
    #perfomanceHeaderImg1{
        display: flex;
        height: 80vmin;
        width: 100%;
    }
    #perfInfo{
        position: absolute;
        left: 6%;
        top: 22%;
        width: 27%;
        height: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        color: #E3D3D2;
        align-items: center;
        background-color: rgba(227, 211, 210, 0.3);
    }
    #perfInfo>span{
        display: flex;
        font-size: 8vmin;
        font-weight: bold;
        font-family: 'Playfair';
    }
    #perfInfo>a{
        display: flex;
        font-size: 5vmin;
        color: #E3D3D2;
        padding: 0.5% 7%;
        background-color: transparent;
        border: 0.4vmin solid #E3D3D2;
        text-transform: uppercase;
        font-family: 'Playfair';
    }
    #sliderPerfomance{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 45%;
        height: 7vmin;
    }
    .sliderPerf{
        display: flex;
        width:17%;
        height:100%;
        background-color: #D9D9D9;
        background-image: none;
    }
    #lilAboutPerf{
        align-self: center;
        width:auto;
        justify-content: space-between;
        display: flex;
        flex-direction: column;
        height: 30vmin;
        margin-left: -40%;
    }
    #titlePerfomance{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 80%;
        font-size: 8vmin;
    }
    #lilAboutPerf>div>span{
        color: #39251B;
        display: flex;
    }
    #lilAboutPerfomance>span{
        font-size: 4vmin;
        font-family: 'Raleway';
    }
    #titlePerf{
        font-family: 'Playfair';
    }
    #agePerf{
        font-family: 'Raleway';
        margin-top:2%;
    }

    #perfomanceBigTxt{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 70vmin;
        justify-content: space-evenly;
        margin: 3% 0 3% 0;
        border:0.1vmax solid #39251B;
        box-shadow: 0.3vmax 0.5vmin 0.5vmin 0.07vmax rgba(57, 37, 27, 0.2);
        border-radius: 1vmin;
        width: 91%;
    }
    #perfomanceBigTxt>span{
        display: flex;
        width: 90%;
        font-size:3vmin;
        line-height: 140%;
        font-family: 'Raleway';
    }
    #buyOrNextStep{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 85%;
        height: 8vmax;
        margin-bottom: 3%;
    }
   
    
    #beforeStep{
        display: flex;
        align-items: center;
        height: 8vmax;
    }
    #beforeStep>svg{
        display: flex;
        width: 4%;
        height: 55%;
    }
    #beforeStep>span{
        display: flex;
        color: #39251B;
        font-size: 2vmax;
        font-family: 'Raleway';
    }
    #buy{
        display: flex;
        height: 100%;
        align-items: center;
        font-family: 'Playfair';
        font-size: 4vmin;
        padding: 0 5% 0 5%;
        background-color: transparent;
        border-radius: 2vmin;
        border: 0.1vmin solid #39251B;
        box-shadow: 0.3vmax 0.5vmin 0.5vmin 0.07vmax rgba(57, 37, 27, 0.2);
    }
    
}
/*PHONE PERFOMANCE*/
@media (max-width:600px) and (orientation:portrait) {
    #perfomanceHeader{
        height: 70vmin;
    }
    #perfomanceHeaderImg1{
        height: 65%;
    }
    #sliderPerfomance{
        height: 7%;
    }
    
    #perfInfo>a{
        font-size: 3.6vmin;
    }
    #perfInfo>span{
        font-size: 4vmin;
    }
    #lilAboutPerf{
        margin-left: -23%;
        height: 25vmin;
    }
    #titlePerfomance{
        width: 60%;
    }
    #titlePerfomance>span{
        font-size: 5vmin;
    }
    #lilAboutPerfomance>span{
        font-size: 3.2vmin;
        padding:0.7% 0;
    }
    #perfomanceBigTxt{
        height: 80vmin;
    }
    #perfomanceBigTxt>span{
        font-size: 2.6vmin;
    }
    #buyOrNextStep{
        height: 15vmin;
        align-items: center;
    }
    #buy{
        height: 50%;
    }
}
/*TABLET PORTRAIT PERFOMANCE*/
@media (min-width:600px) and (max-width:1024px) and (orientation:portrait){
    #perfomanceHeader{
        justify-content: space-evenly;
        height: 50vmin;
        margin: 2%  0;
    }
    #perfomanceHeaderImg1{
        height: 80%;
    }
    #sliderPerfomance{
        height: 7%;
    }
    #perfInfo>span{
        font-size: 4vmin;
    }
    #perfInfo>a{
        border: 0.2vmin solid #E3D3D2;
        font-size: 3vmin;
    }
    #lilAboutPerf{
        margin-left: -25%;
        height: 15vmax;
    }
    #titlePerfomance{
        width: 63%;
    }
    #titlePerfomance>span{
        font-size: 5vmin;
    }
    #lilAboutPerfomance>span{
        font-size: 3vmin;
    }
    #perfomanceBigTxt{
        height: 55vmax;
    }
    #perfomanceBigTxt>span{
        font-size: 2.6vmin;
    }
    #buyOrNextStep{
        height: 10vmax;
    }
    #beforeStep>span{
        font-size: 2.6vmin;
        
    }
    #buy{
        height: 55%;
        align-self: center;
    }
}
/*TABLET LANSCAPE PERFOMANCE*/
@media (min-width:768px) and (max-width:1440px) and (orientation:landscape) {
    #perfomanceHeader{
        height: 60vmax;
    }
    #perfomanceHeaderImg1{
        height: 75%;
    }
    #perfInfo>span{
        font-size: 4vmax;
    }
    #perfInfo>a{
        font-size: 3.2vmax;
    }
    #lilAboutPerf{
        margin-left: -30%;
        height: 20vmax;
    }
    #titlePerfomance>span{
        font-size: 5vmax;
    }
    #lilAboutPerfomance>span{
        font-size: 2.8vmax;
    }
    #buyOrNextStep{
        height: 10vmax;
        align-items: center;
    }
    #beforeStep{
        width: 30vmax;
    }
    #beforeStep>span{
        padding: 0 7%;
    }
    #buy{
        height: 50%;
    }
}


                        /*PLACE*/


/*PLACE ALL*/
@media all {
    #placeMain{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 80vmax;
        width: 91vmax;
    }
    #titlePlace1{
        display: flex;
        flex-direction: row;
    }
    #titlePlace>div>span{
        display: flex;
        flex-direction: column;
    }
    #titlePlace>div{
        display: flex;
        flex-direction: row;
    }
    #titlePlace1>span{
        display: flex;
        margin: 1% 2% 1% 0;
        font-size: 3.6vmax;
        font-family: 'Raleway';
        color: #39251B;
        align-items: flex-start;
    }
    #titlePlace2>span{
        display: flex;
        margin: 1% 3% 0 0;
        font-size: 2.4vmax;
        font-family: 'Raleway';
        color: #39251B;
        align-items: flex-start;
    }
    #beforeStepPlace{
        display: flex;
        align-items: center;
        height: 15%;
        width: 40%;
    }
    #beforeStepPlace>span{
        display: flex;
        color: #39251B;
        font-size: 2vmax;
        font-family: 'Raleway';
    }
    #placeBlock{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 60%;
        border: 0.03vmax solid rgba(57, 37, 27, 0.2);
        border-radius: 1vmax;
        box-shadow: 0.3vmax 0.5vmin 0.5vmin 0.07vmax rgba(57, 37, 27, 0.2);
    }
    #scenePlace{
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 60%;
    }
    #places{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70%;
        width: 100%;
    }
    #places>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height:19%;
    }
    #places>div>button{
        display: flex;
        border-radius: 100%;
        color: #39251B;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway';
        font-size: 1.6vmax;
        width: 6%;
        height: 100%;
    }
    #firstLine>button{
        display: flex;
        border: transparent;
        background-color: #E3D3D2;
    }
    #secondLine>button{
        display: flex;
        border: transparent;
        background-color: #B68F6E;
    }
    #thirdLine>button, #fourthLine>button{
        display: flex;
        border: transparent;
        background-color: transparent;
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
    }
    #scene{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-size: 3.2vmax;
        color: #39251B;
        width: 100%;
        height: 30%;
        background-color: #D9D9D9;
    }
    #scenePrice{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 7%;
        width: 80%;
    }
    #scenePrice>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25%;
    }
    #scenePrice>div>span{
        display: flex;
        font-family: 'Raleway';
        font-size: 1.6vmax;
        margin-left: 10%;
    }
    #scenePrice>div>div{
        display: flex;
        border-radius: 100%;
        width: 3.3vmax;
        height: 3.3vmax;
    }
    #firstLinePrice{
        display: flex;
        background-color: #E3D3D2;
    }
    #secondLinePrice{
        display: flex;
        background-color: #B68F6E;
    }
    #thirdLinePrice{
        display: flex;
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
    }
    #buyPlace{
        display: flex;
        background-color: #D9D9D9;
    }
    #placeNext{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 18%;
        width: 80%;
    }
    #placeNext>div{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 90%;
    }
    #placeNext>div>div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1% 3%;
        height: 100%;
        width: 10vmax;
        margin-right: 3%;
        box-shadow: 0.2vmax 0.3vmin 0.3vmax 0.1vmax rgba(57, 37, 27, 0.2);
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        border-radius: 0.5vmax;
    }
    #placeNext>div>div>span{
        display: flex;
        font-size: 1.4vmax;
        font-family: 'Raleway';
    }
    #placeNext>a{
        display: flex;
        height: 50%;
        border-radius: 0.5vmax;
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
        background-color: transparent;
        width: 15%;
        color: #39251B;
        font-size: 1.8vmax;
        font-family: 'Raleway';
        align-items: center;
        justify-content: center;
    }
    #placeNext>a:active{
        color: #39251B;
    }
}
/*PLACE PHONE*/
@media (max-width:599px) and (orientation:portrait) {
    #placeMain{
        height: 170vmin;
        width: 91vmin;
    }
    #placeBlock{
        width: 100%;
        height: 70%;
        justify-content: space-evenly;
    }
    #scenePlace{
        width: 90%;
        height: 35%;
    }
    #places{
        height: 65%;
    }
    #scene{
        height: 35%;
    }
    #scenePrice{
        height: 25%;
        width: 90%;
        flex-wrap: wrap;
    }
    #scenePrice>div{
        width: 50%;
    }
    #placeNext{
        height: 25%;
        width: 90%;
        flex-direction: column;
        justify-content: space-around;
    }
    #placeNext>div{
        width: auto;
        height: 90%;
    }
    #placeNext>div>div{
        height: 60%;
    }
    #placeNext>a{
        height: 50%;
        width: 20%;
        align-self: end;
    }
    #beforeStepPlace{
        width: 55%;
    }
    #beforeStepPlace>span{
        font-size: 4vmin;
    }
}
/*PLACE TABLET PORTRAIT*/
@media (min-width:599px) and (max-width:1024px) and (orientation:portrait){
    #placeMain{
        height: 120vmin;
        width: 91vmin;
    }
    #placeBlock{
        width: 100%;
        height: 60%;
    }
    #scenePlace{
        display: flex;
        flex-direction: column;
        width: 90%;
        height: 50%;
    }
    #places{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        height: 70%;
        width: 100%;
    }
    #places>div{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 100%;
        height:19%;
    }
    #places>div>button{
        display: flex;
        border-radius: 100%;
        color: #39251B;
        align-items: center;
        justify-content: center;
        font-family: 'Raleway';
        font-size: 1.6vmax;
        width: 6%;
        height: 100%;
    }
    #firstLine>button{
        display: flex;
        border: transparent;
        background-color: #E3D3D2;
    }
    #secondLine>button{
        display: flex;
        border: transparent;
        background-color: #B68F6E;
    }
    #thirdLine>button, #fourthLine>button{
        display: flex;
        border: transparent;
        background-color: transparent;
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
    }
    #scene{
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Raleway';
        font-size: 3.2vmax;
        color: #39251B;
        width: 100%;
        height: 30%;
        background-color: #D9D9D9;
    }
    #scenePrice{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 7%;
        width: 90%;
    }
    #scenePrice>div{
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 25%;
    }
    #scenePrice>div>span{
        display: flex;
        font-family: 'Raleway';
        font-size: 1.6vmax;
        margin-left: 10%;
    }
    #scenePrice>div>div{
        display: flex;
        border-radius: 100%;
        width: 3.3vmax;
        height: 3.3vmax;
    }
    #firstLinePrice{
        display: flex;
        background-color: #E3D3D2;
    }
    #secondLinePrice{
        display: flex;
        background-color: #B68F6E;
    }
    #thirdLinePrice{
        display: flex;
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
    }
    #buyPlace{
        display: flex;
        background-color: #D9D9D9;
    }
    #placeNext{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        height: 18%;
        width: 90%;
    }
    #placeNext>div{
        display: flex;
        flex-direction: row;
        width: auto;
        height: 90%;
    }
    #placeNext>div>div{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1% 3%;
        height: 100%;
        width: 10vmax;
        margin-right: 3%;
        box-shadow: 0.2vmax 0.3vmin 0.3vmax 0.1vmax rgba(57, 37, 27, 0.2);
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        border-radius: 0.5vmax;
    }
    #placeNext>div>div>span{
        display: flex;
        font-size: 1.4vmax;
        font-family: 'Raleway';
    }
    #placeNext>a{
        display: flex;
        height: 50%;
        border-radius: 0.5vmax;
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
        background-color: transparent;
        width: 15%;
        font-size: 1.8vmax;
        font-family: 'Raleway';
        align-items: center;
        justify-content: center;
    }
}
/*PLACE TABLET LANSCAPE
@media (min-width:768px) and (max-width:1440px) and (orientation:landscape) {
    body{
    }
}
/*PLACE BIG SCREEN 
@media (min-width:1200px) and (orientation:landscape){
    body{
        background-color: green;
    }
}


                        /*ORDER*/



/*ALL*/
@media all {
    #placeOrderMain{
        height: 60vmax;
        width: 91vmax;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    #datasPlaces{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        border: 0.2vmax solid rgba(57, 37, 27, 0.1);
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
        border-radius: 1vmax;
        width: 100%;
        height: 80%;
    }
    #datasPlacesLeft{
        display: flex;
        flex-direction: column;
        width: 45%;
        height: 90%;
    }
    #datasPlaces>hr{
        display: flex;
        width: 0.2vmax;
        box-shadow: 0.15vmax 0.01vmax 0.2vmax rgba(57, 37, 27, 0.2);
        height: 90%;
        border-radius: 2vmax;
        border: transparent;
        background-color: rgba(57, 37, 27, 0.2);
    }
    #beforeStepPlaceOrder{
        display: flex;
        align-items: center;
        height: 5%;
    }
    #beforeStepPlaceOrder>svg{
        display: flex;
        width: 2%;
        height: 65%;
    }
    #beforeStepPlaceOrder>span{
        display: flex;
        color: #39251B;
        font-size: 2vmax;
        font-family: 'Raleway';
    }
    #titlePlaceOrder{
        display: flex;
        flex-direction: row;
    }
    #titlePlaceOrder>span{
        display: flex;
        margin: 2% 2% 2% 0;
        font-size: 3.2vmax;
        font-family: 'Raleway';
        color: #39251B;
        align-items: flex-start;
    }
    #placesOrder{
        display: flex;
        font-size: 2.2vmax;
        font-family: 'Raleway';
        color:#39251B;
    }
    #datasPlacesLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
    #placeOrderLeft{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        height: 4vmax;
        font-family: 'Raleway';
        font-size: 1.6vmax;
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        box-shadow: 0.2vmax 0.02vmax 0.4vmax rgba(57, 37, 27, 0.2);
        width: 100%;
        border-radius: 1vmax;
        margin-top: 3%;
    }
    #placeNRow{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width:18%;
    }
    #priceNDel{
        width: 30%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    #placeOrderLeft>div>button{
        display: flex;
        width: 2vmax;
        height: 2vmax;
        background-color: transparent;
        border: transparent;
        background-image: url(images/christ.png);
        background-size: cover;

    }
    #placeOrderRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 3.2vmax;
        font-family: 'Raleway';
        height: 90%;
        color: #39251B;
    }
    #formPlaceOrder{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-size: 2.2vmax;
        height: 90%;
    }
    #formPlace{
        height: 3.5vmax;
        width: 90%;
        border-radius: 1vmax;
        background-color: transparent;
        font-size: 1.4vmax;
        font-family: 'Raleway';
        padding:0 3%;
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        box-shadow: 0.2vmax 0.02vmax 0.4vmax rgba(57, 37, 27, 0.2);
    }
    #inputOrderBy{
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        height: 3.5vmax;
        width: 35%;
        font-size: 1.6vmax;
        border-radius: 1vmax;
        background-color: transparent;
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        box-shadow: 0.2vmax 0.02vmax 0.4vmax rgba(57, 37, 27, 0.2);
        font-family: 'Raleway';
    }
    #placeRow, #placeRow{
        margin-left: 1%;
    }
    #buyNext{
        display: flex;
        align-self: flex-end;
        align-items: center;
        font-size: 3vmin;
        justify-content: space-between;
        width: 35vmin;
        color: #39251B;
        font-family: 'Raleway';
    }
    #buyNext>span{
        display: flex;
        font-weight: bold;
        font-size: 4vmin;
        color: #B68F6E;
    }
    #formPlaceOrder>label{
        margin-left: 3%;
    }


    
 }
 /*PHONE*/
 @media (max-width:1200px) and (orientation:portrait) {
    #placeOrderMain{
        height: 200vmin;
        width: 91vmin;
    }
    #datasPlaces{
        align-items: baseline;
        justify-content: space-between;
        height: 90%;
        flex-direction: column;
        border: transparent;
        box-shadow: none;
    }
    #titlePlaceOrder>span, #PlaceOrderTitleRight{
        font-size: 6vmin;
    }
    #placesOrder, #formPlaceOrder>label{
        font-size: 5vmin;
        margin-left: 3%;
    }
    #buyNext{
        font-size: 5vmin;
        width: 48vmin;
    }
    #datasPlacesLeft{
        width: 100%;
        height: 35%;
    }
    #datasPlaces>hr{
        display: none;
    }
    #datasPlacesLeftTop{
        flex-direction: row;
        height: 85%;
        width: 91vmin;
    }
    #placeOrderLeft{
        height:18%;
    }
    #priceNDel, #formPlace, #placeNRow{
        font-size: 3.4vmin;
    }
    #placeOrderRight{
        height: 60%;
        width: 100%;
    }
    #formPlace{
        height: 10%;
    }
    #formPlaceOrder{
        height: 85%;
    }
    #inputOrderBy{
        height: 10%;
        font-size: 3.4vmin;
    }
    #beforeStepPlaceOrder{
        width:42vmin;
        justify-content: space-between;
    }
    #beforeStepPlaceOrder>span{
        font-size: 3.4vmin;
    }
    #beforeStepPlaceOrder>svg{
        width: 10%;
        height: 30%;
    }
 }
 /*TABLET PORTRAIT
 @media (min-width:600px) and (max-width:1024px) and (orientation:portrait){
     body{
         background-color: orange;
     }
     
 }
 /*TABLET LANSCAPE
 @media (min-width:768px) and (max-width:1440px) and (orientation:landscape) {
     body{
         background-color: yellow;
     }
 }
 /*BIG SCREEN
 @media (min-width:1200px) and (orientation:landscape){
     body{
         background-color: green;
     }
 }*/


                        /*CONFIRMATION*/


@media all {
    #mainConfirmation{
        display: flex;
        flex-direction: column;
        width: 91vmax;
        height: 40vmax;
        justify-content: center;
    }
    #mainConfirmationIn{
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        justify-content: space-evenly;
        height: 80%;
        width: 90%;
    }
    #mainConfirmationIn>img{
        display: flex;
        width: 20%;
    }
    #goodOrder{
        display: flex;
        font-size: 3.8vmax;
        font-family: 'Raleway';
        color: #39251B;
    }
    #ticketEmail{
        display: flex;
        font-family: 'Raleway';
        font-size: 2vmax;
        color: #39251B;

    }
    #inputConfirmation{
        display: flex;
        align-self: flex-end;
        align-items: center;
        justify-content: center;
        height: 3.5vmax;
        width: 20%;
        font-size: 1.6vmax;
        color: #39251B;
        border-radius: 1vmax;
        background-color: transparent;
        border: 0.1vmax solid rgba(227, 211, 210, 0.3);
        box-shadow: 0.2vmax 0.02vmax 0.4vmax rgba(57, 37, 27, 0.2);
        font-family: 'Raleway';
    }
    #inputConfirmation:active{
        color: #39251B;
    }
}

@media (max-width:1200px) and (orientation:portrait) {
    #mainConfirmation{
        width: 91vmin;
        height: 73vmax;
        align-items: center;
    }
    #goodOrder{
        text-align: center;
    }
    #inputConfirmation{
        width: 40%;
        height: 10vmin;
        font-size: 3vmin;
    }
    #mainConfirmationIn{
        align-items: center;
        width: 100%;
        height: 50%;
    }
}


                        /*TICKETS*/

@media all {
    body{

    }
    #mainTickets{
        display: flex;
        flex-direction: column;
        font-family: 'Raleway';
        color: #39251B;
    }
    #oneItemTicket{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        margin: 5% 0 1% 0;
        width: 91vmax;
        height: 45vmax;
        border-radius: 1vmax;
        border: 0.2vmax solid rgba(57, 37, 27, 0.1);
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);
        
    }
    #oneItemTicketLeft, #oneItemTicketRight{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 43%;
        height: 85%;
    }
    #infoNPlaceTicket{
        display: flex;
        flex-direction: column;
    }
    #oneItemTicket>hr{
        background-color: rgba(227, 211, 210, 0.3);
        border: transparent;
        width: 0.2vmax;
        height: 85%;
    }
    #logoNAgeTickets>span{
        display: flex;
        font-size: 4vmax;
    }
    #logoNAgeTickets{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: end;
        width: 100%;
    }
    #logoTickets{
        display: flex;
        width: 33%;
    }
    #titlePerfTickets{
        display: flex;
        font-size: 4vmax;
        line-height: 140%;
    }
    #dateTimeTickets>span{
        display: flex;
        font-size: 2.2vmax;
        line-height: 140%;
    }
    #dateTimeTickets{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        width: 45%;
    }
    #placeTicket{
        display: flex;
        justify-content: space-between;
        width:33%;
        font-size: 2vmax;
        line-height: 140%;
    }
    #placeInMap{
        display: flex;
        font-size: 1.4vmax;
        color: #6C5C59;
    }
    #infoNPlaceTicket{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28%;
        width: 100%;
    }
    #infoTickets{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #infoTickets>div>span{
        line-height: 140%;
    }
    #infoTickets>div{
        display: flex;
        flex-direction: column;
        height: 100%;
        width: auto;
    }
    #lightTicket{
        display: flex;
        color: #6C5C59;
    }
    #infoTickets{
        display: flex;
        flex-direction: row;
        font-size: 1.4vmax;
    }
    #qrIconNTxt{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 53%;
        width: 100%;
    }
    #qrNTxt{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 67%;
    }
    #qrNTxt>img{
        display: flex;
        width: 14vmax;
        height: 14vmax;
    }
    #qrNTxt>span{
        display: flex;
        width: 45%;
    }
    #icons>img{
        display: flex;
        width:5vmax;
        height: 5vmax;
    }
    #icons{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    #copyrightTicket{
        display: flex;
        flex-direction:column;
        justify-content: space-between;
        height: 20%;
        width: 100%;
    }
    #directorNOrg{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        color: #6C5C59;
    }
    #director, #orgTicket{
        display: flex;
        flex-direction: column;

    }
    #oneItemTicketRight{
        font-size: 1vmax;
        line-height: 175%;
        color: #39251B;
    }

    #buttonsBeforeTick{
        display: flex;
        flex-direction: row;
        align-self: flex-end;
        align-items: center;
        justify-content: space-between;
        height:5vmax;
        width: 40%;
    }
    #toRoolsTicket{
        display: flex;
        font-size: 1.4vmax;
        color: #6C5C59;

    }
    #dowmloadTicket{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 60%;
        height: 100%;
        font-size: 1.6vmax;
        color: #39251B;
        border-radius: 1vmax;
        border: 0.2vmax solid rgba(57, 37, 27, 0.1);
        box-shadow: 0.2vmax 0.3vmin 1px 0.07vmax rgba(57, 37, 27, 0.2);  

    }

    #toTitlefromTick{
        display: flex;
        align-items: center;
        height: 8vmax;
    }
    #toTitlefromTick>svg{
        display: flex;
        width: 2%;
        height: 30%;
    }
    #toTitlefromTick>span{
        display: flex;
        color: #39251B;
        font-size: 2vmax;
        font-family: 'Raleway';
    }
}